{% extends "Admin/index.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <table  class="table table-bordered" width="1000">
{% if data %}


  <tr>
    <th scope="row">#</th>
    <th>Name</th>
    <th>Location</th>
    <th>License</th>
    <th>Year</th>
    <th>Email</th>
    <th>Phone number</th>
  <th colspan="2">Action</th>

  </tr>
    {% for i in data %}
  <tr>
    <th scope="row">{{ loop.index }}</th>
    <th>{{ i['ins_name'] }}</th>
    <th>{{ i['ins_place'] }}<br>{{ i['ins_post'] }}<br>{{ i['ins_pin'] }}<br>{{ i['ins_district'] }}<br></th>
    <th>{{ i['ins_license'] }}</th>
    <th>{{ i['ins_establishedyr'] }}</th>
    <th>{{ i['ins_email'] }}</th>
    <th>{{ i['ins_ph'] }}</th>
      {% if i.user_type == 'manufacturer' %}
      <th colspan="2"><div align="center"><a href="/reject/{{ i.ins_id }}" class="btn btn-danger" onclick="return confirm('Are u sure to delete?')">Remove</a></div> </th>
      {% else %}
  <th>
      <a href="/approve/{{ i.ins_id }}" class="btn btn-success" >Accept</a> </th><th>
      <a href="/reject/{{ i.ins_id }}" class="btn btn-danger" onclick="return confirm('Are u sure to delete?')">Reject</a> <br>
  </th>

{% endif %}
  </tr>
    {% endfor %}
    {% else %}
       <p style="color: red; margin-left: 50%;"><marquee>NO DATA ADDED!!!!</marquee></p>
 {% endif %}
</table>

</body>
</html>
{% endblock %}